/* reset.css */

/* Reseteo general de elementos */
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
figure,
figcaption,
ol,
ul,
li,
dl,
dt,
dd,
pre,
code,
address,
em,
strong,
a,
abbr,
acronym,
img,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
footer,
header,
hgroup,
mark,
menu,
nav,
output,
ruby,
section,
summary,
time,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* Resetear listas */
ol,
ul {
  list-style: none;
}

/* Resetear tablas */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Resetear enlaces */
a {
  text-decoration: none;
  color: inherit;
}

/* Box-sizing para un mejor control del ancho y alto */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Estilos básicos para el body */
body {
  line-height: 1;
}

/* Hacer las imágenes responsive */
img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Resetear algunos elementos de formulario (si los usas) */
button,
input,
select,
textarea {
  margin: 0; /* Elimina márgenes predeterminados */
  padding: 0; /* Elimina padding predeterminados */
  border: 0; /* Elimina bordes predeterminados */
  font-size: 100%; /* Usa el tamaño de fuente del elemento padre */
  font-family: inherit; /* Usa la fuente del elemento padre */
  vertical-align: baseline; /* Alineación vertical */
}
