:root {
  --camouflage-green: #4b5320;
  --camouflage-brown: #6d4c41;
  --camouflage-dark-green: #2f4f2f;
  --camouflage-olive: #808000;
  --camouflage-beige: #f5f5dc;
  --camouflage-dark-brown: #3b2f2f;
  --camouflage-black: #000000;
  --camouflage-grey: #d3d3d3;
}

html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Allerta Stencil", serif;
  font-weight: 400;
  font-style: normal;
  flex-direction: column;
  align-items: center;
  background-color: var(--camouflage-green);
  color: var(--camouflage-beige);
}

header {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--camouflage-grey);
  color: var(--camouflage-dark-brown);
  position: fixed;
  top: 0;
  left: 0;
}

footer {
  width: 100%;

  text-align: center;
  background-color: var(--camouflage-grey);
  color: var(--camouflage-dark-brown);
  position: fixed;
  bottom: 0;
  left: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 5rem; /* Para que no se solape con el header */
  padding-bottom: 5rem; /* Para que no se solape con el footer */
}

.title {
  margin-top: 0.8rem;
  text-align: center;
}

.timer-container {
  width: 90%;
  max-width: 600px;
  background-color: var(--camouflage-dark-green);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
  text-align: center;
}
#display {
  font-size: 3rem;
  font-weight: bold;
  background-color: var(--camouflage-beige);
  color: var(--camouflage-dark-brown);
  padding: 1rem 2rem;
  border-radius: 5px;
  margin: 1rem auto; /* Centra horizontalmente */
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 150px; /* Ajusta el tamaño mínimo para no hacerlo demasiado estrecho */
  width: fit-content; /* Solo ocupa el ancho necesario */
}

.controls {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#time {
  margin-right: 3rem;
  font-size: 2.5rem;
  font-weight: bolder;
  color: var(--camouflage-dark-brown);
}
#date {
  font-size: 1.2rem;
  font-weight: bold;
}
#location {
  font-size: 1rem;
  font-weight: bold;
}
.time,
.actions {
  display: flex;
  justify-content: center;
  gap: 10px;
}

button {
  background-color: var(--camouflage-brown);
  color: var(--camouflage-beige);
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background 0.3s ease-in-out;
}

button:hover {
  background-color: var(--camouflage-dark-brown);
}

button:focus {
  outline: 2px solid var(--camouflage-grey);
}
/* Estilos CSS para el parpadeo */
.blink {
  animation: blinker 1s linear infinite; /* Parpadeo suave */
}

@keyframes blinker {
  50% {
    background-color: #f00; /* Color de fondo rojo (puedes personalizarlo) */
  }
}
