:root {
  --camouflage-green: #556b2f; /* Verde oliva más natural */
  --camouflage-brown: #8b4513; /* Marrón tierra más intenso */
  --camouflage-sand: #f4f5dc; /* Beige arenoso, más oscuro y con mejor contraste */
  --camouflage-dark-green: #36454f; /* Gris oscuro, reemplaza el negro para mejor legibilidad */
  --camouflage-light-brown: #a0522d; /* Marrón claro para detalles y acentos */
  --camouflage-dark-brown: #4f3a21; /* Marrón oscuro más sutil */
}

body {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: "Allerta Stencil", sans-serif; /* Fuente principal */
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--camouflage-sand);
  align-items: center;
  justify-content: space-between;
}
header {
  height: 15vh;
  background-color: var(--camouflage-green);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
main {
  height: 70vh;
  background-color: var(--camouflage-brown);
  width: 80%;
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: center;
}

footer {
  height: 15vh;
  background-color: var(--camouflage-green);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
